.cm-editor .cm-content{
    font-family: "Fira Code", monospace;
}

.cm-editor .cm-gutters {
    background: none;
    color: var(--uchu-gray-3);
    border: 0;
}

.cm-editor .cm-lineNumbers .cm-gutterElement {
    padding: 0 1rem 0 0;
}

.cm-editor .cm-zapis-codeblock,
.cm-editor .cm-zapis-inlinecode {
    background-color: var(--uchu-gray-1);
}

.cm-editor .cm-zapis-codeblock.cm-zapis-open-codeblock,
.cm-editor .cm-zapis-open-inlinecode,
.cm-editor .cm-zapis-close-inlinecode {
    background-color: var(--uchu-gray-2);
}

.cm-editor .cm-zapis-h1 {
    font-size: 1.5em;
}

.cm-editor .cm-zapis-h2 {
    font-size: 1.25em;
}

.cm-editor .cm-zapis-h3 {
    font-size: 1.125em;
}

.cm-editor .cm-zapis-h4 {
    font-size: 1em;
}

.cm-editor .cm-zapis-h5 {
    font-size: 0.875em;
}

.cm-editor .cm-zapis-h6 {
    font-size: 0.75em;
}