<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/main.css">
        </style>
    </head>
    <body>
        <div class="main-page-header">
            <h1>Notes app</h1>
        </div>
        <div class="main-container">
            {% block content %}{% endblock %}
        </div>
        <script type="module" src="/assets/main.js"></script>
        {% block script %}{% endblock %}
    </body>
</html>