<!DOCTYPE html>
<html>
    <head>
        <title>{% if title is defined %}{{ title }} - [⚡] Zapis{% else %}[⚡] Zapis{% endif %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/main.css">
        <link rel="icon" href="/favicon.png" type="image/png">
    </head>
    <body>
        <div id="toasts" class="toasts"></div>
        <div class="main-page-header">
            <div class="container">
                <div class="nav-header">
                    <div class="logotype">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 40"><path d="m29.731 19.683-14 15a1 1 0 0 1-1.711-.876l1.832-9.166-7.203-2.705a1 1 0 0 1-.375-1.625l14-15a1 1 0 0 1 1.711.875l-1.837 9.177 7.203 2.7a.999.999 0 0 1 .375 1.62h.005ZM33 35h5v4a1 1 0 0 1-1 1h-4v-5ZM0 1a1 1 0 0 1 1-1h4v40H1a1 1 0 0 1-1-1V1Z"/><path d="M5 0h6a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H5V0ZM5 35h6a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H5v-5ZM33 0l3 3 2 2v30h-5V0ZM26 1a1 1 0 0 1 1-1h6v5h-6a1 1 0 0 1-1-1V1ZM26 36a1 1 0 0 1 1-1h6v5h-6a1 1 0 0 1-1-1v-3Z"/></svg>
                        <h1 class="logotype-text">zapis</h1>
                    </div>
                    <div class="nav-header-actions">
                        <button type="button" class="button" onclick="showCommandPanel()">
                            <svg width="24" height="24" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M5.5 4.5h10a2 2 0 012 2v8a2 2 0 01-2 2h-10a2 2 0 01-2-2v-8a2 2 0 012-2zM10.5 13.5h3"/><path d="M6.5 12.5l2-2-2-2"/></g></g></svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="main-content">
                {% block content %}{% endblock %}
            </div>
        </div>
        <dialog id="commandPanelDialog">
            <div class="command-panel-dialog">
                <input type="text" class="form-input" id="command-input" placeholder="Search for..." required autofocus onblur="doSearch">
                <div id="command-results" class="command-results"></div>
                <div class="command-actions">
                    <button type="button" class="button button--basic close">Cancel</button>
                    <button type="button" class="button button--basic" onclick="syncSearch()">Sync search</button>
                </div>
            </div>
        </dialog>
        <script type="module" src="/assets/main.js"></script>
        {% block script %}{% endblock %}
    </body>
</html>