{% extends "layout.html.twig" %}

{% block content %}
    <div class="note-header">
        <h3>{{ note.path }}</h3>
        <h2>{{ note.title }}</h2>
    </div>
    <textarea class="plain-editor" spellcheck="false">{{ note.markdown | raw }}</textarea>
    {# <div id="editor" spellcheck="false"></div> #}
{% endblock %}
