{% extends "layout.html.twig" %}

{% block content %}
    <div class="note">
        <div class="note-header">
            <h3>{{ note.path }}</h3>
            <h2 id="note-title">{{ note.title }}</h2>
            <small>{{ note.lastModified }}</small>
        </div>
        <textarea class="plain-editor" spellcheck="false" id="note-initial-content">{{ note.markdown | raw }}</textarea>
        <div id="editor" spellcheck="false"></div>
    </div>
{% endblock %}
