{% extends "layout.html.twig" %}

{% block content %}
    <h1>{{ note.title }}</h1>
    <textarea style="display: none;">{{ note.markdown | raw }}</textarea>
    <div id="editor"></div>
{% endblock %}
